<div style="justify-content:center; align-items:center;">
    <form method="get" id="ddgSearch" action="https://duckduckgo.com/" target="_blank">
        <input type="hidden" name="sites" value="blog.relatedtechnetwork.com"/>
        <input type="hidden" name="k7" value="#1c1c1c"/>
        <input type="hidden" name="k8" value="#9ea1a3"/>
        <input type="hidden" name="k9" value="#449660"/>
        <input type="hidden" name="kx" value="#12d99f"/>
        <input type="hidden" name="kj" value="#1c1c1c"/>
        <input type="hidden" name="kt" value="h"/>
        <input type="hidden" name="kp" value="-2"/>
        <input type="hidden" name="kn" value="1"/>
        <input id="searchfield" type="text" name="q" placeholder="Search" aria-label="Search RelatedTechNetwork."/>
        <button id="searchbtn" type="submit">Search</button>
    </form>
</div>


<!-- https://ddg.patdryburgh.com/ -->

