$font-size-0: 2rem !default; // 16px->32px
$font-size-1: 1.75rem !default; // 16px->28px #
$font-size-2: 1.5rem !default; // 16px->24px ##
$font-size-3: 1.25rem !default; // 16px->20px ###
$font-size-4: 1rem !default; // 16px->16px ####

// used primer variables
// @primer/css/support/variables/misc.scss
$font-weight-bold: 600;
$font-weight-semibold: 600;
$font-weight-normal: 400;
$font-weight-light: 400;
$body-font: -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica', sans-serif !default;
$mono-font: 'Fira Code', monospace !default;
$title-font: 'Fira Code', $body-font !default;
$body-font-size: 16px !default;

$width-md: 768px;

$light-color-primary: #449660 !default;
$light-color-secondary: #197738 !default;
$light-color-focus: #272727 !default;
$light-color-mute: #9ea1a3 !default;
$light-color-font: #3f4551 !default;
$light-color-divider: #e5e2e4 !default;
$light-color-bg: #fffffd !default;
$light-color-codebg: #f6f8fa !default;

$dark-color-primary: #449660 !default;
$dark-color-secondary: #197738 !default;
$dark-color-focus: #e6e6e6 !default;
$dark-color-mute: #9ea1a3 !default;
$dark-color-font: #c0c0c0 !default;
$dark-color-divider: #4d5158 !default;
$dark-color-bg: #1c1c1c !default;
$dark-color-codebg: #272727 !default;
